html, body 
{
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    place-items: center; 
}

.MasterLayout
{
    display: grid;
    place-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 25% 25%;    
    box-sizing: border-box;
    height: 75%;
    width: 75%;
}

.OutputLayout
{
    display: grid;
    grid-column: span 4;
    place-items: center;
    box-sizing: border-box;
    border: 3px solid #ccc;
    font-family: monospace;
    font-weight: normal;
    font-size: 3cqmin; 
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.SingleLayout
{
    display: grid;
    place-items: center;
    box-sizing: border-box;
    border: 3px solid #ccc;
    font-family: monospace;
    font-weight: normal;
    font-size: 3cqmin; 
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.DateTimeValueLayout
{
    display: grid;
    grid-column: span 2;
    place-items: center;
    box-sizing: border-box;
    border: 3px solid #ccc;
    font-family: monospace;
    font-weight: normal;
    font-size: 3cqmin; 
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}


